{
  "info": {
    "contact": {
      "name": "thirdweb Support",
      "url": "https://thirdweb.com/support"
    },
    "description": "thirdweb API provides a unified interface for Web3 development. Build scalable blockchain applications with easy-to-use endpoints for wallet management, transaction processing, signatures, and smart contract interactions. Powered by thirdweb's infrastructure.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    },
    "title": "thirdweb API",
    "version": "1.16.6"
  },
  "openapi": "3.1.0",
  "security": [
    {
      "ClientAuth": []
    }
  ],
  "servers": [
    {
      "description": "thirdweb API server",
      "url": "https://api.thirdweb.com"
    }
  ],
  "components": {
    "securitySchemes": {
      "ClientAuth": {
        "description": "Client ID for frontend usage (use Secret Key for backend usage). Web: send x-client-id only (domain allowlist verification). Native (desktop/mobile): send x-client-id together with x-bundle-id (bundle ID allowlist verification).",
        "in": "header",
        "name": "x-client-id",
        "type": "apiKey"
      },
      "BundleIdAuth": {
        "description": "Bundle ID for native platform authentication (required for desktop/mobile apps alongside x-client-id)",
        "in": "header",
        "name": "x-bundle-id",
        "type": "apiKey"
      },
      "SecretKeyAuth": {
        "description": "Secret key for backend usage (never expose publicly)",
        "in": "header",
        "name": "x-secret-key",
        "type": "apiKey"
      },
      "BearerAuth": {
        "bearerFormat": "JWT",
        "description": "JWT access token for frontend usage (obtained from wallet authentication)",
        "scheme": "bearer",
        "type": "http"
      },
      "EcosystemAuth": {
        "description": "Ecosystem ID for ecosystem wallet operations",
        "in": "header",
        "name": "x-ecosystem-id",
        "type": "apiKey"
      },
      "EcosystemPartnerAuth": {
        "description": "Ecosystem Partner ID for partner-specific routing",
        "in": "header",
        "name": "x-ecosystem-partner-id",
        "type": "apiKey"
      },
      "AwsKmsArn": {
        "description": "AWS KMS Key ARN for KMS-based authentication",
        "in": "header",
        "name": "x-aws-kms-arn",
        "type": "apiKey"
      },
      "AwsAccessKeyId": {
        "description": "AWS Access Key ID for KMS authentication",
        "in": "header",
        "name": "x-aws-access-key-id",
        "type": "apiKey"
      },
      "AwsSecretAccessKey": {
        "description": "AWS Secret Access Key for KMS authentication",
        "in": "header",
        "name": "x-aws-secret-access-key",
        "type": "apiKey"
      }
    },
    "schemas": {

    },
    "parameters": {

    }
  },
  "paths": {
    "/v1/auth/initiate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "initiateAuthentication",
        "summary": "Initiate Auth",
        "description": "Start any authentication flow in one unified endpoint. This endpoint supports all authentication methods including SMS, email, OAuth, passkey, and SIWE (Sign-In with Ethereum).\n\n**Supported Methods:**\n- **SMS** - Send verification code to phone number\n- **Email** - Send verification code to email address  \n- **Passkey** - Generate WebAuthn challenge for biometric authentication\n- **SIWE** - Generate Sign-In with Ethereum payload\n\n**Flow:**\n1. Choose your authentication method\n2. Provide method-specific parameters\n3. Receive challenge data to complete authentication\n4. Use the /complete endpoint to finish the process\n\n**OAuth:**\n\nThe OAuth method uses a dedicated `/auth/social` endpoint instead of this one:\n\n`GET /auth/social?provider=google&redirectUrl=...`\n\n**Custom (JWT, auth-payload) and Guest:**\n\nFor custom authentication (JWT, auth-payload) and for guest authentication, you can skip this step and use the `/auth/complete` endpoint directly.\n\n**Authentication:** Requires `x-client-id` header for frontend usage or `x-secret-key` for backend usage.",
        "security": [
          {
            "ClientAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "sms"
                        ],
                        "description": "Authentication method: SMS"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number in E.164 format (e.g., +1234567890)"
                      }
                    },
                    "required": [
                      "method",
                      "phone"
                    ],
                    "title": "SMS Authentication"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "email"
                        ],
                        "description": "Authentication method: Email"
                      },
                      "email": {
                        "type": "string",
                        "format": "email",
                        "description": "Email address for verification code"
                      }
                    },
                    "required": [
                      "method",
                      "email"
                    ],
                    "title": "Email Authentication"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "oauth"
                        ],
                        "description": "Authentication method: OAuth"
                      },
                      "provider": {
                        "type": "string",
                        "enum": [
                          "google",
                          "apple",
                          "facebook",
                          "discord",
                          "farcaster",
                          "telegram",
                          "line",
                          "x",
                          "coinbase",
                          "github",
                          "twitch",
                          "steam",
                          "tiktok"
                        ],
                        "description": "Social login provider"
                      },
                      "redirectUrl": {
                        "type": "string",
                        "format": "uri",
                        "description": "Custom redirect URL after OAuth completion"
                      }
                    },
                    "required": [
                      "method",
                      "provider"
                    ],
                    "title": "OAuth Authentication"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "passkey"
                        ],
                        "description": "Authentication method: Passkey"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "sign-up",
                          "sign-in"
                        ],
                        "description": "Whether to create a new passkey or use existing one"
                      },
                      "username": {
                        "type": "string",
                        "description": "Username for passkey (optional, for identification)"
                      }
                    },
                    "required": [
                      "method",
                      "type"
                    ],
                    "title": "Passkey Authentication"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "siwe"
                        ],
                        "description": "Authentication method: Sign-In with Ethereum"
                      },
                      "address": {
                        "type": "string",
                        "description": "Ethereum wallet address for SIWE"
                      },
                      "chainId": {
                        "type": "integer",
                        "minimum": 0,
                        "exclusiveMinimum": true,
                        "description": "Chain ID for SIWE (defaults to 1)",
                        "examples": [1, 8453, 137, 56, 43114, 42161, 10]
                      }
                    },
                    "required": [
                      "method",
                      "address"
                    ],
                    "title": "SIWE Authentication"
                  }
                ],
                "description": "Request to initiate authentication flow. Choose one of the supported authentication methods: sms, email, oauth, passkey, or siwe. The required fields depend on the authentication method selected.",
                "title": "Authentication Initiate Request",
                "examples": [
                  {
                    "method": "sms",
                    "phone": "+1234567890"
                  },
                  {
                    "method": "email",
                    "email": "user@example.com"
                  },
                  {
                    "method": "oauth",
                    "provider": "google"
                  },
                  {
                    "method": "passkey",
                    "type": "sign-in"
                  },
                  {
                    "method": "siwe",
                    "address": "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication initiated successfully. Use the returned challenge data to complete authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "enum": [
                            "sms"
                          ],
                          "description": "Authentication method: SMS"
                        },
                        "success": {
                          "type": "boolean",
                          "description": "Whether the SMS code was sent successfully"
                        }
                      },
                      "required": [
                        "method",
                        "success"
                      ],
                      "title": "SMS Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "enum": [
                            "email"
                          ],
                          "description": "Authentication method: Email"
                        },
                        "success": {
                          "type": "boolean",
                          "description": "Whether the email code was sent successfully"
                        }
                      },
                      "required": [
                        "method",
                        "success"
                      ],
                      "title": "Email Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "enum": [
                            "oauth"
                          ],
                          "description": "Authentication method: OAuth"
                        },
                        "redirectUrl": {
                          "type": "string",
                          "format": "uri",
                          "description": "URL to redirect user for OAuth authentication"
                        }
                      },
                      "required": [
                        "method",
                        "redirectUrl"
                      ],
                      "title": "OAuth Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "enum": [
                            "passkey"
                          ],
                          "description": "Authentication method: Passkey"
                        },
                        "serverVerificationId": {
                          "type": "string",
                          "description": "Server verification ID for passkey"
                        },
                        "challenge": {
                          "type": "string",
                          "description": "Base64-encoded WebAuthn challenge"
                        },
                        "type": {
                          "type": "string",
                          "description": "Challenge type (sign-up or sign-in)"
                        }
                      },
                      "required": [
                        "method",
                        "serverVerificationId",
                        "challenge",
                        "type"
                      ],
                      "title": "Passkey Response"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "enum": [
                            "siwe"
                          ],
                          "description": "Authentication method: Sign-In with Ethereum"
                        },
                        "payload": {
                          "type": "string",
                          "description": "SIWE message string to be signed"
                        }
                      },
                      "required": [
                        "method",
                        "payload"
                      ],
                      "title": "SIWE Response"
                    }
                  ],
                  "description": "Response from authentication initiation. Contains method-specific data needed to complete authentication.",
                  "title": "Authentication Initiate Response",
                  "examples": [
                    {
                      "method": "sms",
                      "success": true
                    },
                    {
                      "method": "email",
                      "success": true
                    },
                    {
                      "method": "oauth",
                      "redirectUrl": "https://wallets.google.com/oauth/authorize?..."
                    },
                    {
                      "method": "passkey",
                      "serverVerificationId": "svid_abc123",
                      "challenge": "Y2hhbGxlbmdlX2RhdGE=",
                      "type": "sign-in"
                    },
                    {
                      "method": "siwe",
                      "payload": "example.com wants you to sign in with your Ethereum wallet..."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - Check your method and parameters"
          },
          "429": {
            "description": "Rate limit exceeded - Please wait before trying again"
          }
        }
      }
    },
    "/v1/auth/complete": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "completeAuthentication",
        "summary": "Complete Auth",
        "description": "Complete the authentication flow and receive your wallet credentials. After initiating authentication, use this endpoint to submit the required verification data.\n\n**Completion Methods:**\n- **SMS/Email** - Submit the verification code you received\n- **Passkey** - Provide the WebAuthn signature response\n- **SIWE** - Submit your signed Ethereum message\n- **Guest** - Create an ephemeral guest wallet\n- **Custom (JWT, auth-payload)** - Send your JWT token or custom payload\n\n**Response:**\n- `isNewUser` - Whether this is a new wallet creation\n- `token` - JWT token for authenticated API requests\n- `type` - The authentication method used\n- `userId` - Unique identifier for the authenticated user\n- `walletAddress` - Your new or existing wallet address\n\n**Next step - Verify your token:**\n```javascript\n// Verify the token and get complete wallet details (server-side)\nfetch('/v1/wallets/me', {\n  headers: { \n    'Authorization': 'Bearer ' + token,\n    'x-secret-key': 'your-secret-key'\n  }\n})\n.then(response =\u003E response.json())\n.then(data =\u003E {\n  console.log('Wallet verified:', data.result.address);\n  console.log('Auth profiles:', data.result.profiles);\n});\n```\n\n**Authentication:** Requires `x-client-id` header for frontend usage or `x-secret-key` for backend usage.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "sms"
                        ],
                        "description": "Authentication method: SMS"
                      },
                      "phone": {
                        "type": "string",
                        "description": "Phone number that received the code"
                      },
                      "code": {
                        "type": "string",
                        "description": "Verification code received via SMS"
                      }
                    },
                    "required": [
                      "method",
                      "phone",
                      "code"
                    ],
                    "title": "SMS Completion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "email"
                        ],
                        "description": "Authentication method: Email"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email address that received the code"
                      },
                      "code": {
                        "type": "string",
                        "description": "Verification code received via email"
                      }
                    },
                    "required": [
                      "method",
                      "email",
                      "code"
                    ],
                    "title": "Email Completion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "passkey"
                        ],
                        "description": "Authentication method: Passkey"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "sign-up",
                          "sign-in"
                        ],
                        "description": "Passkey operation type"
                      },
                      "authenticatorData": {
                        "type": "string",
                        "description": "Base64-encoded authenticator data"
                      },
                      "credentialId": {
                        "type": "string",
                        "description": "Base64-encoded credential ID"
                      },
                      "serverVerificationId": {
                        "type": "string",
                        "description": "Server verification ID from initiate response"
                      },
                      "clientData": {
                        "type": "string",
                        "description": "Base64-encoded client data JSON"
                      },
                      "signature": {
                        "type": "string",
                        "description": "Base64-encoded signature (for sign-in)"
                      },
                      "origin": {
                        "type": "string",
                        "description": "Origin of the request"
                      },
                      "rpId": {
                        "type": "string",
                        "description": "Relying party identifier"
                      },
                      "username": {
                        "type": "string",
                        "description": "Username for the passkey"
                      },
                      "credential": {
                        "type": "object",
                        "properties": {
                          "publicKey": {
                            "type": "string",
                            "description": "Public key for the credential"
                          },
                          "algorithm": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "RS256"
                                ]
                              },
                              {
                                "type": "string",
                                "enum": [
                                  "ES256"
                                ]
                              }
                            ],
                            "description": "Algorithm used for the credential"
                          }
                        },
                        "required": [
                          "publicKey",
                          "algorithm"
                        ],
                        "description": "Credential data for passkey registration"
                      }
                    },
                    "required": [
                      "method",
                      "type",
                      "authenticatorData",
                      "credentialId",
                      "serverVerificationId",
                      "clientData"
                    ],
                    "title": "Passkey Completion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "siwe"
                        ],
                        "description": "Authentication method: Sign-In with Ethereum"
                      },
                      "signature": {
                        "type": "string",
                        "description": "Hex-encoded signed SIWE message"
                      },
                      "payload": {
                        "type": "string",
                        "description": "The original SIWE payload that was signed"
                      }
                    },
                    "required": [
                      "method",
                      "signature",
                      "payload"
                    ],
                    "title": "SIWE Completion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "custom"
                        ],
                        "description": "Authentication method: Custom"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "jwt",
                          "auth-payload"
                        ],
                        "description": "Custom authentication type"
                      },
                      "jwt": {
                        "nullable": true,
                        "description": "JWT token for OIDC authentication"
                      },
                      "payload": {
                        "nullable": true,
                        "description": "Custom authentication payload"
                      }
                    },
                    "required": [
                      "method",
                      "type"
                    ],
                    "title": "Custom Completion"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "method": {
                        "type": "string",
                        "enum": [
                          "guest"
                        ],
                        "description": "Authentication method: Guest"
                      },
                      "sessionId": {
                        "type": "string",
                        "description": "Optional guest session ID - if not provided, a random one will be generated with no persistence guarantees."
                      }
                    },
                    "required": [
                      "method"
                    ],
                    "title": "Guest Completion"
                  }
                ],
                "description": "Request to complete authentication flow. Choose the same method used in initiate: sms, email, oauth, passkey, siwe, guest, or custom. The required fields depend on the authentication method.",
                "title": "Authentication Complete Request",
                "examples": [
                  {
                    "method": "sms",
                    "phone": "+1234567890",
                    "code": "123456"
                  },
                  {
                    "method": "email",
                    "email": "user@example.com",
                    "code": "789012"
                  },
                  {
                    "method": "passkey",
                    "type": "sign-in",
                    "serverVerificationId": "svid_abc123",
                    "authenticatorData": "base64_authenticator_data",
                    "credentialId": "base64_credential_id",
                    "clientData": "base64_client_data",
                    "signature": "base64_signature"
                  },
                  {
                    "method": "siwe",
                    "payload": "example.com wants you to sign in with your Ethereum wallet...",
                    "signature": "0x1234567890abcdef..."
                  },
                  {
                    "method": "custom",
                    "type": "jwt",
                    "jwt": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  },
                  {
                    "method": "guest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication completed successfully. You now have wallet access.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "isNewUser": {
                      "type": "boolean",
                      "description": "Whether this is a newly created user/wallet"
                    },
                    "token": {
                      "type": "string",
                      "description": "JWT authentication token for API access"
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of authentication completed"
                    },
                    "userId": {
                      "type": "string",
                      "description": "Unique identifier for the authenticated user"
                    },
                    "walletAddress": {
                      "type": "string",
                      "description": "The wallet address"
                    }
                  },
                  "required": [
                    "isNewUser",
                    "token",
                    "type",
                    "userId",
                    "walletAddress"
                  ],
                  "description": "Successful authentication response. Returns wallet address plus authentication tokens.",
                  "examples": [
                    {
                      "isNewUser": true,
                      "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...",
                      "type": "email",
                      "userId": "user_123",
                      "walletAddress": "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid credentials or request - Check your challenge ID and verification data"
          },
          "429": {
            "description": "Rate limit exceeded - Please wait before trying again"
          }
        }
      }
    },
    "/v1/auth/link": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "linkAuthentication",
        "summary": "Link Auth",
        "description": "Link an additional authentication method or external wallet to the currently authenticated user. Provide the authentication token from another completed login (for example, a SIWE wallet or OAuth account) and this endpoint will associate it with the user's existing wallet.\n\n**Usage:**\n1. Complete an authentication flow using `/auth/complete` to obtain the new authentication token\n2. Call this endpoint with the token you want to link\n3. Receive the full list of linked authentication profiles for the wallet\n\n**Authentication:** Requires both client authentication (`x-client-id` or `x-secret-key`) and a wallet access token via `Authorization: Bearer \u003Cjwt\u003E`.",
        "security": [
          {
            "ClientAuth": [],
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountAuthTokenToConnect": {
                    "type": "string",
                    "minLength": 1,
                    "description": "Authentication token for the account that should be linked to the currently authenticated wallet."
                  }
                },
                "required": [
                  "accountAuthTokenToConnect"
                ],
                "additionalProperties": false,
                "description": "Request body for linking an additional authentication method or external wallet to the currently authenticated user.",
                "title": "Authentication Link Request",
                "examples": [
                  {
                    "accountAuthTokenToConnect": "tw_acc_auth_token_123"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication method linked successfully. The response contains the updated list of linked authentication profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linkedAccounts": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "emailVerified": {
                                "type": "boolean"
                              },
                              "familyName": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "hd": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "locale": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "picture": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "google"
                                ]
                              }
                            },
                            "required": [
                              "email",
                              "emailVerified",
                              "hd",
                              "id",
                              "locale",
                              "picture",
                              "type"
                            ],
                            "description": "Google OAuth authentication provider details",
                            "title": "GoogleProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "picture": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "facebook"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Facebook OAuth authentication provider details",
                            "title": "FacebookProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "emailVerified": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isPrivateEmail": {
                                "type": "boolean"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "apple"
                                ]
                              }
                            },
                            "required": [
                              "emailVerified",
                              "id",
                              "isPrivateEmail",
                              "type"
                            ],
                            "description": "Apple OAuth authentication provider details",
                            "title": "AppleProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string",
                                "nullable": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "github"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "username"
                            ],
                            "description": "GitHub OAuth authentication provider details",
                            "title": "GitHubProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "emailVerified": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "discord"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "avatar",
                              "emailVerified",
                              "id",
                              "type",
                              "username"
                            ],
                            "description": "Discord OAuth authentication provider details",
                            "title": "DiscordProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "coinbase"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "type"
                            ],
                            "description": "Coinbase OAuth authentication provider details",
                            "title": "CoinbaseProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "x"
                                ]
                              },
                              "username": {
                                "type": "string"
                              },
                              "profileImageUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "type",
                              "username"
                            ],
                            "description": "X (Twitter) OAuth authentication provider details",
                            "title": "XProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "avatarUrl": {
                                "type": "string"
                              },
                              "unionId": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "tiktok"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "displayName",
                              "avatarUrl",
                              "type"
                            ],
                            "description": "TikTok OAuth authentication provider details",
                            "title": "TikTokProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "avatar": {
                                    "type": "object",
                                    "properties": {
                                      "large": {
                                        "type": "string"
                                      },
                                      "medium": {
                                        "type": "string"
                                      },
                                      "small": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "personaname": {
                                    "type": "string"
                                  },
                                  "profileurl": {
                                    "type": "string"
                                  },
                                  "realname": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "avatar"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "steam"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "metadata",
                              "type"
                            ],
                            "description": "Steam OAuth authentication provider details",
                            "title": "SteamProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "picture": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "telegram"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Telegram OAuth authentication provider details",
                            "title": "TelegramProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "twitch"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "username"
                            ],
                            "description": "Twitch OAuth authentication provider details",
                            "title": "TwitchProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "line"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "LINE OAuth authentication provider details",
                            "title": "LineProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "fid": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "farcaster"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "fid",
                              "id",
                              "type"
                            ],
                            "description": "Farcaster authentication provider details",
                            "title": "FarcasterProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "algorithm": {
                                "type": "string"
                              },
                              "credentialId": {
                                "type": "string"
                              },
                              "publicKey": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "passkey"
                                ]
                              }
                            },
                            "required": [
                              "algorithm",
                              "credentialId",
                              "publicKey",
                              "type"
                            ],
                            "description": "Passkey authentication provider details",
                            "title": "PasskeyProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "email"
                                ]
                              }
                            },
                            "required": [
                              "email",
                              "id",
                              "type"
                            ],
                            "description": "Email authentication provider details",
                            "title": "EmailProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "pregeneratedIdentifier": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "pre_generation"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "pregeneratedIdentifier",
                              "type"
                            ],
                            "description": "Pre-generated wallet authentication provider details",
                            "title": "PreGenerationProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "phone"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "phone",
                              "type"
                            ],
                            "description": "Phone authentication provider details",
                            "title": "PhoneProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "siwe"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "walletAddress"
                            ],
                            "description": "Sign-In with Ethereum (SIWE) authentication provider details",
                            "title": "SiweProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "guest"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Guest authentication provider details",
                            "title": "GuestProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "backend"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Backend authentication provider details (deprecated, use server instead)",
                            "title": "BackendProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "identifier": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "server"
                                ]
                              }
                            },
                            "required": [
                              "identifier",
                              "type"
                            ],
                            "description": "Server authentication provider details",
                            "title": "ServerProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "authProviderId": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "custom_jwt"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Custom JWT authentication provider details",
                            "title": "CustomJwtProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "authProviderId": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "custom_auth_endpoint"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Custom auth endpoint authentication provider details",
                            "title": "CustomAuthEndpointProvider"
                          }
                        ],
                        "description": "Authentication provider details with type-based discrimination",
                        "title": "AuthenticationProviderDetail"
                      },
                      "description": "Updated list of authentication profiles linked to the wallet after the new account has been connected."
                    }
                  },
                  "required": [
                    "linkedAccounts"
                  ],
                  "additionalProperties": false,
                  "description": "Response returned after successfully linking an additional authentication provider. The response includes all linked profiles for the user.",
                  "title": "Authentication Link Response",
                  "examples": [
                    {
                      "linkedAccounts": [
                        {
                          "id": "auth_siwe_123",
                          "type": "siwe",
                          "walletAddress": "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters"
          },
          "401": {
            "description": "Wallet authentication required. Include Authorization: Bearer \u003Cjwt\u003E header."
          },
          "429": {
            "description": "Rate limit exceeded - Please wait before trying again"
          },
          "502": {
            "description": "Third-party provider did not return any linked accounts after processing the request."
          }
        }
      }
    },
    "/v1/auth/unlink": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "unlinkAuthentication",
        "summary": "Unlink Auth",
        "description": "Disconnect an authentication method or external wallet from the currently authenticated user. Provide the identifiers for the provider you want to remove (for example, an email address or wallet address) and this endpoint will detach it from the user's account.\n\n**Usage:**\n1. Choose the provider type you want to disconnect (email, phone, siwe, oauth, etc.)\n2. Supply the provider-specific identifiers in the request body\n3. Receive the updated list of linked authentication profiles\n\n**Authentication:** Requires both client authentication (`x-client-id` or `x-secret-key`) and a wallet access token via `Authorization: Bearer \u003Cjwt\u003E`.",
        "security": [
          {
            "ClientAuth": [],
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "apple",
                      "coinbase",
                      "discord",
                      "email",
                      "facebook",
                      "farcaster",
                      "github",
                      "google",
                      "guest",
                      "line",
                      "passkey",
                      "phone",
                      "siwe",
                      "steam",
                      "telegram",
                      "twitch",
                      "x",
                      "tiktok",
                      "backend",
                      "wallet",
                      "custom_auth_endpoint",
                      "custom_jwt"
                    ],
                    "description": "Authentication provider type to disconnect"
                  },
                  "details": {
                    "type": "object",
                    "properties": {
                      "address": {
                        "type": "string"
                      },
                      "walletAddress": {
                        "type": "string",
                        "description": "A valid Ethereum address (0x-prefixed hex string) or ENS name (e.g., vitalik.eth)."
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "phone": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string"
                      }
                    },
                    "additionalProperties": false,
                    "description": "Identifiers for the provider profile that should be disconnected"
                  },
                  "allowAccountDeletion": {
                    "type": "boolean",
                    "default": false,
                    "description": "If true, allows the account to be deleted when unlinking removes the last authentication method. Defaults to false when omitted."
                  }
                },
                "required": [
                  "type",
                  "details"
                ],
                "additionalProperties": false,
                "description": "Request body for unlinking an authentication provider or wallet from the currently authenticated user.",
                "title": "Authentication Unlink Request",
                "examples": [
                  {
                    "type": "siwe",
                    "details": {
                      "address": "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                    }
                  },
                  {
                    "type": "email",
                    "details": {
                      "email": "user@example.com"
                    }
                  },
                  {
                    "type": "siwe",
                    "details": {
                      "address": "0x742d35Cc6634C0532925a3b8D43C67B8c8B3E9C6"
                    },
                    "allowAccountDeletion": true
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication method unlinked successfully. The response contains the updated list of linked authentication profiles.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "linkedAccounts": {
                      "type": "array",
                      "items": {
                        "anyOf": [
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "emailVerified": {
                                "type": "boolean"
                              },
                              "familyName": {
                                "type": "string"
                              },
                              "givenName": {
                                "type": "string"
                              },
                              "hd": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "locale": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "picture": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "google"
                                ]
                              }
                            },
                            "required": [
                              "email",
                              "emailVerified",
                              "hd",
                              "id",
                              "locale",
                              "picture",
                              "type"
                            ],
                            "description": "Google OAuth authentication provider details",
                            "title": "GoogleProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "picture": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "facebook"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Facebook OAuth authentication provider details",
                            "title": "FacebookProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "emailVerified": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "isPrivateEmail": {
                                "type": "boolean"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "apple"
                                ]
                              }
                            },
                            "required": [
                              "emailVerified",
                              "id",
                              "isPrivateEmail",
                              "type"
                            ],
                            "description": "Apple OAuth authentication provider details",
                            "title": "AppleProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string",
                                "nullable": true
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string",
                                "nullable": true
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "github"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "username"
                            ],
                            "description": "GitHub OAuth authentication provider details",
                            "title": "GitHubProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "emailVerified": {
                                "type": "boolean"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "discord"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "avatar",
                              "emailVerified",
                              "id",
                              "type",
                              "username"
                            ],
                            "description": "Discord OAuth authentication provider details",
                            "title": "DiscordProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "coinbase"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "type"
                            ],
                            "description": "Coinbase OAuth authentication provider details",
                            "title": "CoinbaseProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "x"
                                ]
                              },
                              "username": {
                                "type": "string"
                              },
                              "profileImageUrl": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "type",
                              "username"
                            ],
                            "description": "X (Twitter) OAuth authentication provider details",
                            "title": "XProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "displayName": {
                                "type": "string"
                              },
                              "avatarUrl": {
                                "type": "string"
                              },
                              "unionId": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "tiktok"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "displayName",
                              "avatarUrl",
                              "type"
                            ],
                            "description": "TikTok OAuth authentication provider details",
                            "title": "TikTokProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "metadata": {
                                "type": "object",
                                "properties": {
                                  "avatar": {
                                    "type": "object",
                                    "properties": {
                                      "large": {
                                        "type": "string"
                                      },
                                      "medium": {
                                        "type": "string"
                                      },
                                      "small": {
                                        "type": "string"
                                      }
                                    }
                                  },
                                  "personaname": {
                                    "type": "string"
                                  },
                                  "profileurl": {
                                    "type": "string"
                                  },
                                  "realname": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "avatar"
                                ]
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "steam"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "metadata",
                              "type"
                            ],
                            "description": "Steam OAuth authentication provider details",
                            "title": "SteamProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "firstName": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "lastName": {
                                "type": "string"
                              },
                              "picture": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "telegram"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Telegram OAuth authentication provider details",
                            "title": "TelegramProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "description": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "twitch"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "username"
                            ],
                            "description": "Twitch OAuth authentication provider details",
                            "title": "TwitchProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "avatar": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "line"
                                ]
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "LINE OAuth authentication provider details",
                            "title": "LineProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "fid": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "farcaster"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "fid",
                              "id",
                              "type"
                            ],
                            "description": "Farcaster authentication provider details",
                            "title": "FarcasterProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "algorithm": {
                                "type": "string"
                              },
                              "credentialId": {
                                "type": "string"
                              },
                              "publicKey": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "passkey"
                                ]
                              }
                            },
                            "required": [
                              "algorithm",
                              "credentialId",
                              "publicKey",
                              "type"
                            ],
                            "description": "Passkey authentication provider details",
                            "title": "PasskeyProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "format": "email"
                              },
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "email"
                                ]
                              }
                            },
                            "required": [
                              "email",
                              "id",
                              "type"
                            ],
                            "description": "Email authentication provider details",
                            "title": "EmailProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "pregeneratedIdentifier": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "pre_generation"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "pregeneratedIdentifier",
                              "type"
                            ],
                            "description": "Pre-generated wallet authentication provider details",
                            "title": "PreGenerationProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "phone"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "phone",
                              "type"
                            ],
                            "description": "Phone authentication provider details",
                            "title": "PhoneProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "siwe"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type",
                              "walletAddress"
                            ],
                            "description": "Sign-In with Ethereum (SIWE) authentication provider details",
                            "title": "SiweProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "guest"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Guest authentication provider details",
                            "title": "GuestProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "backend"
                                ]
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Backend authentication provider details (deprecated, use server instead)",
                            "title": "BackendProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "identifier": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "server"
                                ]
                              }
                            },
                            "required": [
                              "identifier",
                              "type"
                            ],
                            "description": "Server authentication provider details",
                            "title": "ServerProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "authProviderId": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "custom_jwt"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Custom JWT authentication provider details",
                            "title": "CustomJwtProvider"
                          },
                          {
                            "type": "object",
                            "properties": {
                              "authProviderId": {
                                "type": "string"
                              },
                              "email": {
                                "type": "string"
                              },
                              "id": {
                                "type": "string"
                              },
                              "phone": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string",
                                "enum": [
                                  "custom_auth_endpoint"
                                ]
                              },
                              "walletAddress": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "type"
                            ],
                            "description": "Custom auth endpoint authentication provider details",
                            "title": "CustomAuthEndpointProvider"
                          }
                        ],
                        "description": "Authentication provider details with type-based discrimination",
                        "title": "AuthenticationProviderDetail"
                      },
                      "description": "Updated list of authentication profiles linked to the wallet after the new account has been connected."
                    }
                  },
                  "required": [
                    "linkedAccounts"
                  ],
                  "additionalProperties": false,
                  "description": "Response returned after successfully linking an additional authentication provider. The response includes all linked profiles for the user.",
                  "title": "Authentication Link Response",
                  "examples": [
                    {
                      "linkedAccounts": [
                        {
                          "id": "auth_siwe_123",
                          "type": "siwe",
[...]
